/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.star {
  color: #fbe530;
}

.align-center {
  height: calc(100% - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}

